* {
	padding: 0px;
	margin: 0px;
	color: white;
  	font-family: Tahoma, Arial, sans-serif;	
  	font-size: 0.98em;
}

/* General layout */
body {
	background-color: black;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat-x;
}

#wrapper
{
    width:900px;
    margin:0px auto;
}

#content
{
	padding: 20px 0px;
}

#sidebar 
{
	width: 180px;
	vertical-align: top;
}

#main
{
	width: 700px;
	vertical-align: top;
}

#footer {
	text-align: center;
	padding-bottom: 50px;
}

/* Headers */

#header1
{
    width:900px;
    height:60px;
    background-image:url(../img/header1.jpg);
}

#header2
{
    width:900px;
    height:120px;
    background-image:url(../img/header2.jpg);
}

/* Text */

h1 {
	font-size: 1.2em;
	display: block;
	border-bottom: 1px solid #eee;
	margin: 2px 0px 10px 0px;
}

/* Formular */

label {
	display: block;
	padding: 8px 0px 3px 0px;
}

input {
	color: black;
	font-size: 0.8em;
	padding: 2px;
	width: 300px;
}

input.form-error {
	border: 1px solid red;
}

.error-message {
	color: red
};

.submit {
	width: 300px;
	padding: 5px 0px 0px 0px;
	text-align: center;
}

.submit input {
	width: auto;
}